@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.links {
    background-color: #ef6364;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.links a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-right: 60px;
}

.links a:hover {
    color: #524283;
}

button {
    background-color: #eabe56;
    border: none;
    width: 250px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px;
}

button:hover {
    background-color: #e495d0;
    color: white;
}

.container {
    display: flex;
    padding: 60px 100px;
    height: 900px;
}

.content-right img {
    width: 550px;
}

.content-left {
    margin-right: 100px;
}

.content-left h1 {
    font-size: 46px;
    margin-bottom: 25px;
}

.content-left span {
    color: #ef6364;
}

.content-left p {
    text-align: justify;
}


footer {
    background-color: #ef6364;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

footer p {
    margin-bottom: -20px;
}

footer p a {
    text-decoration: none;
}

/* 
#comoajudar img, #contato img {
    border: 6px dotted #524283
} */

/* COMO AJUDAR? */

#comoajudar {
    display: flex;
    padding: 60px 100px;

}

#comoajudar .dogimg {
    width: 400px;
}

.como-ajudar-text h1 {
    font-size: 46px;
    margin-bottom: 25px;
}

.como-ajudar-text span {
    color: #ef6364;
}

.como-ajudar-text p {
    text-align: justify;
    margin-bottom: 25px;
    margin-right: 100px;
}

.como-ajudar-text ul {
    list-style: none;
}


/* CONTATO */

#contato {
    display: flex;
    padding: 60px 100px;
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between;
}

#contato img {
    width: 300px;
}

#contato p {
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#contato h1 {
    font-size: 46px;
    margin-bottom: 25px;
}

#contato span {
    font-weight: 600;
}

form {
    width: 750px;
    height: 250px;
    background-color: #524283;
    color: white;
    padding: 30px;
    margin-right: 100px;
}

.form-contato-text span {
    color: #ef6364;
}

/* ADOTAR DOG CAT */

#adotar-dog-cat {
    display: flex;
    padding: 60px 100px;
    height: 900px;
}

#adotar-dog-cat h1 {
    font-size: 46px;
    margin-bottom: 25px;
}

#adotar-dog-cat span {
    color: #ef6364;
}

.adotar-dog {
    margin-right: 200px;
}

.adotar-dog, .adotar-cat {
    flex-direction: row;
    padding-top: 150px;
}

.adotar-dog button, .adotar-cat button {
    margin: 26px auto;
}

.adotar-dog .dog-adotar, .adotar-cat .cat-adotar {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}